<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Все котировки:</h1>
    <div class="container-fluid">
        <table class="table table-condensed table-striped table-sm table-bordered table-hover">
          <thead>
            <tr>
                <th>id</th>
                <th>Дата подачи</th>
                <th>Клиент</th>
                <th>Ставка клиенту, руб.</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Гр-ть, т</th>
                <th>Тип ТС</th>
                <th>Код АТИ, Ставка перевозчика, форма оплаты</th>
                <th>Логист</th>
                <th>Примечания</th>
            </tr>
          </thead>
          <tbody>
                {% for item in results.items %}
                    <tr>
                    <th scope="row"><a href="/edit/{{ item.id }}">{{ item.id }}</a></th>
                        <td>{{ item.date }} </td>
                        <td>{{ item.client }}</td>
                        <td>{{ item.rate }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destination }}</td>
                        <td>{{ item.capacity }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.terms }}</td>
                        <td>{{ item.manager }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
        {% if results.has_prev %}<a href="{{ url_for('rates', page = results.prev_num) }}"> << Новые </a>
        {% else %}<< Новые{% endif %} |
        {% if results.has_next %}<a href="{{ url_for('rates', page = results.next_num) }}"> Старые>> </a>
        {% else %}Старые >>{% endif %}
    </div>
{% endblock %}